.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: 0;
    animation: loader 1s linear forwards;

}

@keyframes loader {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}