.button {
    font-family: Inter, sans-serif;
    font-weight: 500;
    background: var(--dark);
    border-radius: 16px;
    padding: 12px 30px;
    color: var(--text);
    border: none;
    cursor: pointer;
}