@font-face {
    font-family: Inter;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/Inter-Bold.ttf');
}