:root {
    --body: #0F0F0F;
    --dark: #323232;
    --second: #BCBCBC;
    --gray: #676767;
    --text: #fff;
    --gradient: linear-gradient(120deg, rgba(255,255,255,0.3), rgba(255,255,255,0.05));;
    --border-radius: 30px;
    --cards: rgba(255, 255, 255, 0.05);
}