.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    a {
        color: var(--gray);
        transition: color .3s ease-in-out;

        &.active {
            color: var(--text);
        }
    }
}